aniso8601==7.0.0
APScheduler==3.6.1
asn1crypto==0.24.0
beautifulsoup4==4.8.0
bs4==0.0.1
bson==0.5.8
cffi==1.12.3
Click==7.0
cryptography==3.2
Flask==1.1.1
Flask-Cors==3.0.8
Flask-RESTful==0.3.7
itsdangerous==1.1.0
Jinja2==2.11.3
jwt==0.6.1
MarkupSafe==1.1.1
numpy==1.17.1
pandas==0.25.1
passlib==1.7.1
pycparser==2.19
pymongo==3.7.2
python-dateutil==2.8.0
pytz==2019.2
requests
selenium==3.141.0
six==1.12.0
soupsieve==1.9.3
tzlocal==2.0.0
urllib3==1.24.2
uuid==1.30
Werkzeug==0.15.5
gunicorn
